<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGarmentStyleManagementWS" />
                <binding name="BasicHttpBinding_IFabricPartManagementWS" />
                <binding name="intfwsCreateProductEndpoint0Binding" maxReceivedMessageSize="2147483647" allowCookies="true" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49504/GarmentStyleManagementWS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGarmentStyleManagementWS"
                contract="GarmentStyleService.IGarmentStyleManagementWS" name="BasicHttpBinding_IGarmentStyleManagementWS" />
            <endpoint address="http://localhost:49504/FabricPartManagementWS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFabricPartManagementWS"
                contract="FabricPartService.IFabricPartManagementWS" name="BasicHttpBinding_IFabricPartManagementWS" />
            <endpoint address="http://localhost:6115/Interface/intfCreateProduct-service.serviceagent/intfwsCreateProductEndpoint0"
                binding="basicHttpBinding" bindingConfiguration="intfwsCreateProductEndpoint0Binding"
                contract="ESBService.portType" name="intfwsCreateProductEndpoint0" />
        </client>
    </system.serviceModel>
</configuration>