<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--Aras Innovator User Setting-->
    <add key="InnovatorUrl" value="http://getazdevnt002.chinacloudapp.cn/InnovatorTestServer"/>
    <!--<add key="InnovatorUrl" value="http://10.20.252.10/InnovatorTestServer"/>-->
    <add key="InnovatorDB" value="Esquel_PLM"/>
    <add key="InnovatorUserName" value="admin"/>
    <add key="InnovatorPassword" value="innovator"/>
    <add key="DefaultPageIndex" value="1"/>
    <add key="DefaultPageSize" value="20"/>
    <!--GarmentStyle-->
    <add key="GarmentStyle_ItemName" value="Garment"/>
    <!--List-->
    <add key="GarmentStyleGarmentColorway_ItemName" value="Garment Colorway"/>
    <add key="ColorWay_ItemName" value="Colorway"/>
    <add key="GarmentStyleSizeRange_ItemName" value="Garment Size Range"/>
    <add key="GarmentStyleSketch_ItemName" value="Garment Sketch"/>
    <add key="GarmentStyleCAD_ItemName" value="Garment CAD"/>
    <add key="GarmentStyleDocument_ItemName" value="Garment Document"/>
    <add key="GarmentStyleSizeRangeD1_ItemName" value="Garment Size Range_D1"/>
    <add key="GarmentStyleSizeRangeD2_ItemName" value="Garment Size Range_D1_D2"/>
    <add key="GarmentStyleYearSeason_ItemName" value="Garment YearSeason"/>    
    <add key="YearSeason_ItemName" value="YearSeason"/>
    <add key="GarmentStyleBOM_ItemName" value="Garment Style BOM"/>
    <add key="GarmentBOM_ItemName" value="Garment BOM"/>      
    <add key="GarmentBOMPart_ItemName" value="Garment BOM Part"/>
    <!--Part-->
    <add key="Part_ItemName" value="Part"/>
    <add key="PartColorCombo_ItemName" value="Part Color Combo"/>
    <add key="ColorCombo_ItemName" value="Color Combo"/>
    <add key="ColorComboColorCode_ItemName" value="Color Combo Color Code"/>
    <add key="ColorCode_ItemName" value="Color Code"/>    
    <!--List-->
    <add key="PartDocument_ItemName" value="Part Document"/>
    <add key="PartCAD_ItemName" value="Part CAD"/>
    <add key="PartSize_ItemName" value="Part Size"/>         
    <add key="PartContent_ItemName" value="Part Content"/>
    <!--Link-->
    <add key="Customer_ItemName" value="Customer"/>
    <add key="CustomerBrand_ItemName" value="Customer Brand"/>
    <add key="Supplier_ItemName" value="Vendor"/>
    <!--Common Item-->
    <add key="User_ItemName" value="User"/>
    <add key="State_ItemName" value="Life Cycle State"/>
    <add key="Permission_ItemName" value="Permission"/>    
    <!--Get Image Temp Path And Url-->
    <add key="tempFileFolder" value="tempFile"/>
    <add key="tempFileUrl" value="http://getazdevnt002.chinacloudapp.cn/ArasInnovatorService/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
