@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Aras Service Demo</h1>
    <p class="lead">This Demo is Test Aras Innovator Service by Visual Studio </p>
    <p><a href="http://localhost/WesChenServer" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Part Service</h2>
        <p>
            Add Part To Aras Innovator
        </p>
        <p><a class="btn btn-default" href="http://localhost/WesChenServer">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Part Service</h2>
        <p>Edit Part To Aras Innovator</p>
        <p><a class="btn btn-default" href="http://localhost/WesChenServer">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Part Service</h2>
        <p>Get Part List By Aras Innovator</p>
        <p><a class="btn btn-default" href="http://localhost/WesChenServer">Learn more &raquo;</a></p>
    </div>
</div>